@import "../../styles/var.scss";

.note {

 margin: 2em 3em 0 3em;

        table {
            width: 100%;
            table-layout: fixed;
            border-spacing: 0 0.5em;
            border-collapse: inherit;
}
    thead{
        th{
        padding: 10px 10px;
        background: $header-table-color;
        font-size: 15px;
        text-transform: uppercase;
        color: $text-color;
        }
        
    tr td:first-child,
    tr th:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    }
    tr td:last-child,
    tr th:last-child {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    }
    th:first-child {
        width: 4em;
    }
    th:nth-last-child(-n+3) {
        width: 2em;

    }
        th:last-child {
        background-image: url(../../img/delete.svg);
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 1em 0;
    }   
    th:nth-last-child(2){
        background-image: url(../../img/archive.svg);
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
      padding: 1em 0 ;
    }
    
    }
td,
th {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

    tbody{
        
        tr{
        td{
            padding: 10px;
            background: $background-table-color;
            font-size: 14px;
        }
        }
    }
    }


// need to reafactoring

.add, .edit, .save, .delete{
  outline: none;
  background: none;
  border: none;
}

.edit, .save, .delete{
  padding: 5px 10px;
  cursor: pointer;
}


.add{
  float: right;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  padding: 0;
  padding: 3px 5px;
  cursor: pointer;
  
  &:hover{
    background: #ffffff;
    color: #00adee;
  }
}

.save{
  display: none;
  background: #32AD60;
  color: #ffffff;
  
  &:hover{
    background: darken(#32AD60, 10%);
  }
}

.edit{
  background: #2199e8;
  color: #ffffff;
  
  &:hover{
    background: darken(#2199e8, 10%);
  }
}

.delete{
  background: #EC5840;
  color: #ffffff;
  
   &:hover{
    background: darken(#EC5840, 10%);
  }
}
